
.main_heading{
    color:#d40101;
    font size: 50px;
    font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h1{
    color: #ffffff;
    background-color: #ffffff;
    font size: 50px;
    font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

p {
    font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

a { 
 font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
 ::-webkit-textfield-decoration-container
}

